body {
    font-family: 'Abril Fatface';
    display: grid;
}
h1 {
    margin: auto;
    font-size: 52px;
    font-weight: 300;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
p {
    margin: auto
}